:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: var(--grey-900);
  color: var(--white);
  font-size: 14px;
  font-family: "Inter";
  margin: auto;
}

.container {
  width: 350px;
  background-color: var(--grey-800);
  border-radius: 20px;
  padding: 1rem 2rem;
  margin: 10rem auto;
  padding: 4rem 2rem;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 10rem;
  margin: 1rem;
}

.location {
  color: var(--green);
  margin-bottom: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.links a {
  background-color: var(--grey-700);
  color: var(--white);
  text-decoration: none;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}
